.contain{
    margin-top: 20px;
    margin-left:10%;
    background-color: rgba(255, 255, 255, 0.568);
    width: 80%;
    height: 100% ;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.imagen{
    
    margin: 10px;
    margin-left: 120px;
    border-radius: 10px;
}

.ConText{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.771);
    width: 80%;
    border-radius: 20px;
}