.logo {
  width: 50%;
  height: 130px;
}
.encabezado {
  width: 25%;
}
.Form {
  padding-top: 2%;
  background-color: rgba(255, 255, 255, 0.563);
  width: 75%;
  height: 490px;
  margin-left: 12.5%;
  border-radius: 10px;
  border: 1px solid black;
}
.labelEmail {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 25px;
  font-weight: bold;
}
.inputEmail {
  width: 90%;
  height: 30px;
}
.labelPassword {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 25px;
  margin: 10px;
  font-weight: bold;
}

.inputPassword {
  width: 90%;
  height: 30px;
}
.botonSubmit {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 10px;
  margin: -20px 0px 20px 0px;
  color: white;
  border-radius: 20px;
  background: linear-gradient(270deg, black, green);
  background-size: 200% 200%;
  transition: all 2s ease;
}
.botonSubmit:hover{
  background-position: -100% 0;
  transform: scale(1.1);
}


.datos {
  margin: 0% 35% 0% 35%;
  width: 30%;
  border: 1px solid black;
}
