.App {

  text-align: center;

 background-image: url(/img/polvo-estrellas-k2EB--620x349@abc.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}
